@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0px;
  
}

body{
  color: white;
  background-color: black;
  font-family: Poppins;
}

.nav{
  background-color: black;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.nav a{
  /* background-color: yellow; */
  text-decoration: none;
  color: whitesmoke;
  padding: 0px 25px;
  font-size: 20px;
  font-weight: bolder;
  margin: 0px 6px;
  vertical-align: center;
}

.nav img{
  size: 30px;
  margin-right: 50px;
  vertical-align: center;
  padding: 0px 25px;
}

.nav img:hover{
  cursor: pointer;
}

.nav a:hover{
  color: rgb(43, 161, 161);
}

.nav a:active{
  color: rgb(7, 250, 250);
}

.landing_page{
  height: 100vh;
  color: rgb(5, 231, 231);
  background-color: black;
}

.landing_page .content {
  margin-top: 130px;
  margin-left: 130px;
}

.landing_page p{
  font-size: 20px;
  color: rgba(0, 255, 255, 0.349);
}

.landing_page h1,h2{
  /* padding-left: 50px; */
  color: rgba(0, 255, 255, 0.753);
}

.landing_page h1{
  font-size: 55px;
}

.landing_page h2{
  font-size: 37px;
}

.main_projects_page {
  background-color: rgb(13, 179, 170);
  width: 100%;
  position: inherit;
  padding: 50px 40px;
}

.projects{
  padding: 30px 110px;
  margin: 0px auto;
  position: inherit;
}

.project_background{
  height: 300px;
  width: 300px;
  background-size: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0px;
}

.project_title_container{
  width: 300px;
  height: 50px;
  background-color: #555555AA;
  display: flex;
  align-items: center;
  
}

.project_background:hover{
  cursor: grab;
}

/* .projects .cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
} */

/* .projects .cards div{
  height: 250px;
  width: 250px;
  margin-top: 18px;
  background-color: rgba(39, 38, 38, 0.733);
} */

.project_title {
  font-size: 20px;
  color: rgb(240, 236, 236);
  font-weight: bold;
  margin-left: 16px;
}

/* .card {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 7px;
} */

.project_image {
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.footer{
  background-color: rgb(43, 42, 42);
  height: 400px;
}

.about_section {
  background-color: lightcoral;
  padding: 50px 40px;
  color: white;
}

.inner_header {
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.about_content{
  color: black;
  font-size: 16px;
}

.about_card{
  /* background-color: rgb(248, 248, 7); */
  background-color: white;
  width: 60vw;
  margin: 15px auto;
  box-shadow: 0px 3px 5px #aaaaaa;
  /* box-shadow: 5px 10px #888888; */
}

.no_bullet{
  list-style: none;
}

#skills{
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50% ;
  margin: 20px auto;
  align-content: center;
}

.Education{
  padding-left: 20px;
}
